## 1. Data Collection

In [1]:
import pandas as pd
import requests
import json
import re

In [2]:
# Opening JSON file
cf1 = open('crossfit_reddit-comment-data.json')
crossfit_comments = json.load(cf1)

In [3]:
# Opening JSON file
cf2 = open('crossfit_reddit-sub-data.json')
crossfit_subs = json.load(cf2)

In [4]:
# Opening JSON file
b1 = open('bjj_reddit-comment-data.json')
bjj_comments = json.load(b1)

In [5]:
# Opening JSON file
b2 = open('bjj_reddit-sub-data.json')
bjj_subs = json.load(b2)

In [6]:
# Obtaining text from comments on r/crossfit

result1 = []
for i in crossfit_comments:
    result1.append(i['body'])
len(result1)

16231

In [7]:
# Converting to dataframe and assigning labels 

crossfit_comments = pd.DataFrame(result1)
crossfit_comments['type'] = ["comments" for x in crossfit_comments[0]]
crossfit_comments['label'] = ["crossfit" for x in crossfit_comments[0]]
crossfit_comments.head()

                                                   0      type     label
0  Yeah 21-15-9 is designed to be a sprint otherw...  comments  crossfit
1  I'd be happy if the rope was mixed in:\n21 DL ...  comments  crossfit
2  Is btwb more Wod oriented? I’m actually going ...  comments  crossfit
3  Well so far my thruster has held up very well....  comments  crossfit
4  Look up Peyton Parrish. \n\nHe used to do Coun...  comments  crossfit

In [8]:
# Removing duplicated posts and checking the final length of remaining posts

crossfit_comments.drop_duplicates(subset = 0, inplace = True)
len(crossfit_comments)

15855

In [9]:
crossfit_comments

                                                       0      type     label
0      Yeah 21-15-9 is designed to be a sprint otherw...  comments  crossfit
1      I'd be happy if the rope was mixed in:\n21 DL ...  comments  crossfit
2      Is btwb more Wod oriented? I’m actually going ...  comments  crossfit
3      Well so far my thruster has held up very well....  comments  crossfit
4      Look up Peyton Parrish. \n\nHe used to do Coun...  comments  crossfit
...                                                  ...       ...       ...
16226                       https://www.wit-fitness.com/  comments  crossfit
16227  Did you just make up your own disorder? Some p...  comments  crossfit
16228               Those are the limited edition bufus!  comments  crossfit
16229  Your [submission](https://www.reddit.com/r/cro...  comments  crossfit
16230  500 m is a short distance. There is no time fo...  comments  crossfit

[15855 rows x 3 columns]

In [10]:
# Exporting the dataset

crossfit_comments.to_csv('../data/crossfit_comments.csv')

In [11]:
# Obtaining text from submissions on r/crossfit

result2 = []
for i in crossfit_subs:
    result2.append(i['selftext'])
len(result2)

783

In [12]:
# Converting to dataframe and assigning labels 

crossfit_subs = pd.DataFrame(result2)
crossfit_subs['type'] = ["submissions" for x in crossfit_subs[0]]
crossfit_subs['label'] = ["crossfit" for x in crossfit_subs[0]]
crossfit_subs.head()

                                                   0         type     label
0                                                     submissions  crossfit
1  This really is beyond me seeing all these nega...  submissions  crossfit
2  Do you use them and what are the best ones? Pa...  submissions  crossfit
3  Having trouble finding where CrossFit said it ...  submissions  crossfit
4  I should remember this from previous years, bu...  submissions  crossfit

In [13]:
# Removing duplicated posts and checking the final length of remaining posts

crossfit_subs.drop_duplicates(subset = 0, inplace = True)
len(crossfit_subs)

468

In [14]:
# Exporting the dataset

crossfit_subs.to_csv('../data/crossfit_subs.csv')

In [15]:
# Obtaining text from comments on r/bjj

result3 = []
for i in bjj_comments:
    result3.append(i['body'])
len(result3)

30988

In [16]:
# Converting to dataframe and assigning labels 

bjj_comments = pd.DataFrame(result3)
bjj_comments['type'] = ["comments" for x in bjj_comments[0]]
bjj_comments['label'] = ["bjj" for x in bjj_comments[0]]
bjj_comments.head()

                                                   0      type label
0  That's like saying you scored a field goal but...  comments   bjj
1                                We must protect him  comments   bjj
2  Gi deff has more participants.  But nogi is mo...  comments   bjj
3  Actually giant mismatch in skills make matches...  comments   bjj
4  Try training no gi exclusively into your 40s a...  comments   bjj

In [17]:
# Removing duplicated posts and checking the final length of remaining posts

bjj_comments.drop_duplicates(subset = 0, inplace = True)
len(bjj_comments)

30022

In [18]:
# Exporting the dataset

bjj_comments.to_csv('../data/bjj_comments.csv')

In [19]:
# Obtaining text from submissions on r/bjj

result4 = []
for i in bjj_subs:
    result4.append(i['selftext'])
len(result4)

2829

In [20]:
# Converting to dataframe and assigning labels 

bjj_subs = pd.DataFrame(result4)
bjj_subs['type'] = ["subs" for x in bjj_subs[0]]
bjj_subs['label'] = ["bjj" for x in bjj_subs[0]]
bjj_subs.head()

                                                   0  type label
0                                          [removed]  subs   bjj
1  Looking for a good non-Danaher gi instructiona...  subs   bjj
2                                                     subs   bjj
3  I’ll start by saying that I like and train no ...  subs   bjj
4                             Any way to shrink one?  subs   bjj

In [21]:
# Removing duplicated posts and checking the final length of remaining posts

bjj_subs.drop_duplicates(inplace = True)
len(bjj_subs)

1528

In [22]:
# Exporting the dataset

bjj_subs.to_csv('../data/bjj_subs.csv')